In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 43.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=24814eb2a2f29212584c8c69b704edb167f5651e3c0e7a5eac3fed294c6371f0
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
import pyspark
import pandas as pd

In [ ]:
pd.read_csv('test1.csv')

      name  age  experience
0   Uttam    21          10
1   Karan    23           4
2  Krishna   28          50
3    Arjun   24           9
4    Bhim    26           7

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practise').getOrCreate()
spark

In [ ]:
df_spark = spark.read.csv('test1.csv')
df_spark

DataFrame[_c0: string, _c1: string, _c2: string]

In [ ]:
df_spark.show()

+-------+---+----------+
|    _c0|_c1|       _c2|
+-------+---+----------+
|   name|age|experience|
| Uttam | 21|        10|
| Karan | 23|         4|
|Krishna| 28|        50|
|  Arjun| 24|         9|
|  Bhim | 26|         7|
+-------+---+----------+

In [ ]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')  
df_pyspark.show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
| Uttam | 21|        10|
| Karan | 23|         4|
|Krishna| 28|        50|
|  Arjun| 24|         9|
|  Bhim | 26|         7|
+-------+---+----------+

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)