## ***In this tutorial we will learn about Groupby and Aggregate Function.***

In [ ]:
!pip install pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('groupby').getOrCreate()
spark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 41 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 46.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=e60122289679b83575bb751a2731f1e8ba7be64f91e0693a8d0bfc42f1e4f032
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
pyspark = spark.read.csv('salary.csv',header = True, inferSchema = True)
pyspark.show()

+-------+--------------+-------+
|   name|    department| salary|
+-------+--------------+-------+
| Uttam |  Data Science|1000000|
| Karan |  Data Science| 400000|
|Krishna|Human Resource|5000000|
|  Arjun|     Big Data | 900000|
|  Bhim |           IOT| 700000|
| Uttam |     Big Data |1300000|
| Karan |       Account| 400000|
|  Arjun|       Account| 600000|
+-------+--------------+-------+

In [ ]:
pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)

# Groupby

In [ ]:
# To find total salary of each individual

pyspark.groupby('name').sum().show()

+-------+-----------+
|   name|sum(salary)|
+-------+-----------+
|  Bhim |     700000|
|Krishna|    5000000|
| Karan |     800000|
|  Arjun|    1500000|
| Uttam |    2300000|
+-------+-----------+

In [ ]:
# To find Total Salary provided to each Department

pyspark.groupby('department').sum().show()

+--------------+-----------+
|    department|sum(salary)|
+--------------+-----------+
|           IOT|     700000|
|     Big Data |    2200000|
|Human Resource|    5000000|
|       Account|    1000000|
|  Data Science|    1400000|
+--------------+-----------+

In [ ]:
# To find Number of employees in each Department

pyspark.groupby('department').count().show()

+--------------+-----+
|    department|count|
+--------------+-----+
|           IOT|    1|
|     Big Data |    2|
|Human Resource|    1|
|       Account|    2|
|  Data Science|    2|
+--------------+-----+

In [ ]:
pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|   10300000|
+-----------+

In [ ]:
pyspark.groupby('department').agg({'salary':'sum','name':'count'}).show()

+--------------+-----------+-----------+
|    department|count(name)|sum(salary)|
+--------------+-----------+-----------+
|           IOT|          1|     700000|
|     Big Data |          2|    2200000|
|Human Resource|          1|    5000000|
|       Account|          2|    1000000|
|  Data Science|          2|    1400000|
+--------------+-----------+-----------+