## ***In this tutorial we will learn about filtering methods:***



* Filtering Options
* &,|,==
* ~

In [3]:
!pip install pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('filtering').getOrCreate()
spark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [5]:
pyspark = spark.read.csv('test1.csv',header = True, inferSchema = True)
pyspark.show()

+-------+---+----------+-------+
|   name|age|experience| salary|
+-------+---+----------+-------+
| Uttam | 21|        10|1000000|
| Karan | 23|         4| 400000|
|Krishna| 28|        50|5000000|
|  Arjun| 24|         9| 900000|
|  Bhim | 26|         7| 700000|
+-------+---+----------+-------+

# Filtering Operations

In [7]:
# Salary of people less than 1000000

pyspark.filter('salary<1000000').show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
|Karan | 23|         4|400000|
| Arjun| 24|         9|900000|
| Bhim | 26|         7|700000|
+------+---+----------+------+

In [9]:
pyspark.filter(pyspark['salary']<1000000).show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
|Karan | 23|         4|400000|
| Arjun| 24|         9|900000|
| Bhim | 26|         7|700000|
+------+---+----------+------+

In [8]:
# Finding name and age with salary of people less than 1000000 (With Columns)

pyspark.filter('salary<1000000').select(['name','age']).show()

+------+---+
|  name|age|
+------+---+
|Karan | 23|
| Arjun| 24|
| Bhim | 26|
+------+---+

In [10]:
# Multiple Condition Formatting (And)

pyspark.filter((pyspark['salary']<1000000) & (pyspark['age']<25)).show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
|Karan | 23|         4|400000|
| Arjun| 24|         9|900000|
+------+---+----------+------+

In [11]:
# Multiple Condition Formatting (Or)

pyspark.filter((pyspark['salary']>1000000) | (pyspark['age']<25)).show()

+-------+---+----------+-------+
|   name|age|experience| salary|
+-------+---+----------+-------+
| Uttam | 21|        10|1000000|
| Karan | 23|         4| 400000|
|Krishna| 28|        50|5000000|
|  Arjun| 24|         9| 900000|
+-------+---+----------+-------+